<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="temperature_2_m_above_gnd" placeholder="temperature_2_m_above_gnd" required="required" />
      <input type="text" name="relative_humidity_2_m_above_gnd" placeholder="relative_humidity_2_m_above_gnd" required="required" />
      <input type="text" name="mean_sea_level_pressure_MSL" placeholder="mean_sea_level_pressure_MSL" required="required" />
      <input type="text" name="total_precipitation_sfc" placeholder="total_precipitation_sfc" required="required" />
      <input type="text" name="snowfall_amount_sfc" placeholder="snowfall_amount_sfc" required="required" />
        <input type="text" name="total_cloud_cover_sfc" placeholder="total_cloud_cover_sfc" required="required" />
        <input type="text" name="high_cloud_cover_high_cld_lay" placeholder="high_cloud_cover_high_cld_lay" required="required" />
        <input type="text" name="medium_cloud_cover_mid_cld_lay" placeholder="medium_cloud_cover_mid_cld_lay" required="required" />
        <input type="text" name="low_cloud_cover_low_cld_lay" placeholder="low_cloud_cover_low_cld_lay" required="required" />
        <input type="text" name="shortwave_radiation_backwards_sfc" placeholder="shortwave_radiation_backwards_sfc" required="required" />
        <input type="text" name="wind_speed_10_m_above_gnd" placeholder="wind_speed_10_m_above_gnd" required="required" />
        <input type="text" name="wind_direction_10_m_above_gnd" placeholder="wind_direction_10_m_above_gnd" required="required" />
        <input type="text" name="wind_speed_80_m_above_gnd" placeholder="wind_speed_80_m_above_gnd" required="required" />
        <input type="text" name="wind_direction_80_m_above_gnd" placeholder="wind_direction_80_m_above_gnd" required="required" />
        <input type="text" name="wind_speed_900_mb" placeholder="wind_speed_900_mb" required="required" />
        <input type="text" name="wind_direction_900_mb" placeholder="wind_direction_900_mb" required="required" />
        <input type="text" name="wind_gust_10_m_above_gnd" placeholder="wind_gust_10_m_above_gnd" required="required" />
        <input type="text" name="angle_of_incidence" placeholder="angle_of_incidence" required="required" />
        <input type="text" name="zenith" placeholder="zenith" required="required" />
        <input type="text" name="azimuth" placeholder="azimuth" required="required" />
		<input type="text" name="generated_power_kw" placeholder="generated_power_kw" required="required" />

        <button type="submit" class="Predict Power Solar 15' next step">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
